# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Thư mục build và build sản phẩm
node_modules
# dist (bỏ qua các build sản phẩm)
# dist-ssr
*.local

# Các tệp Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Thư mục chứa video, hình ảnh hoặc media khác
public/video_trailer/
public/images/
