/* 16. Blog */
.blog-bg {
    background-position: top center;
    background-size: cover;
    padding: 120px 0 120px;
}
.blog-post-item {
    background: #1f1e24;
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.46);
    margin-bottom: 50px;
}
.blog-post-thumb img {
    border-radius: 4px;
    max-width: 100%;
}
.blog-post-content {
    padding: 30px;
}
.blog-post-content .date,
.blog-details-top-meta .user {
    display: block;
    margin-bottom: 8px;
}
.blog-post-content .date i,
.blog-details-top-meta .user i {
    margin-right: 5px;
    color: #e4d804;
}
.blog-post-content .title {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
}
.blog-post-content .title a:hover,
.blog-post-meta ul li a:hover {
    color: #e4d804;
}
.blog-post-content p {
    margin-bottom: 0;
}
.blog-post-meta {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    padding-top: 19px;
    margin-top: 30px;
}
.blog-post-meta::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 1px 3px 0px rgba(102, 102, 102, 0.46);
}
.blog-post-meta ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.blog-post-meta ul li {
    position: relative;
    margin-top: 10px;
    font-size: 12px;
    color: #d0d0d0;
}
.blog-post-meta ul li + li::before {
    content: "|";
    padding-left: 15px;
    padding-right: 15px;
    color: #6a6a6a;
}
.blog-post-meta ul li i {
    color: #e4d804;
    margin-right: 8px;
}
.blog-post-meta ul li a {
    color: #d0d0d0;
}
.blog-post-meta .read-more {
    margin-top: 10px;
}
.blog-post-meta .read-more a {
    font-size: 14px;
    font-weight: 600;
    color: #e4d804;
}
.blog-post-meta .read-more a i {
    margin-left: 5px;
}
.blog-sidebar {
    margin-left: 30px;
}
.blog-widget {
    background: #1f1e24;
    border-radius: 4px;
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.46);
    padding: 40px 30px;
    margin-bottom: 30px;
}
.blog-widget:last-child {
    margin-bottom: 0;
}
.sidebar-search input {
    width: 100%;
    background: #393939;
    border: none;
    padding: 17px 80px 17px 25px;
    color: #fff;
}
.sidebar-search input::placeholder {
    color: #bcbcbc;
    font-weight: 500;
}
.sidebar-search {
    position: relative;
}
.sidebar-search button {
    position: absolute;
    right: 0;
    top: 0;
    width: 55px;
    height: 100%;
    border: none;
    font-size: 16px;
    color: #100e17;
    background: #e4d804;
    padding: 0 0;
}
.sidebar-cat ul li {
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px dashed #59595c;
}
.sidebar-cat ul li:last-child {
    margin-bottom: 0;
}
.sidebar-cat ul li a {
    color: #c8c8c8;
}
.sidebar-cat ul li span {
    float: right;
}
.sidebar-cat ul li a:hover {
    color: #e4d804;
}
.rc-post-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 25px;
}
.rc-post-item:last-child {
    margin-bottom: 0;
}
.rc-post-item .thumb {
    flex: 0 0 100px;
    width: 100px;
    margin-right: 20px;
}
.rc-post-item .thumb img {
    border-radius: 3px;
}
.rc-post-item .content {
    flex-grow: 1;
}
.rc-post-item .content .title {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 8px;
}
.rc-post-item .content .title a:hover {
    color: #e4d804;
}
.rc-post-item .content .date {
    display: block;
    font-size: 12px;
}
.rc-post-item .content .date i {
    color: #e4d804;
    margin-right: 5px;
}
.tag-list ul li {
    display: inline-block;
    margin: 0px 8px 10px;
}
.tag-list ul li a {
    display: block;
    background: #393939;
    font-size: 14px;
    color: #bcbcbc;
    padding: 8px 13px;
    position: relative;
}
.tag-list ul li a::before {
	content: "";
	position: absolute;
	left: -10px;
	top: 0;
	width: 0;
	height: 100%;
	border-style: solid;
	border-width: 0 0 35px 10px;
	border-color: transparent transparent #393939 transparent;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
.tag-list ul li a::after {
	content: "";
	position: absolute;
	right: -10px;
	top: 0;
	width: 0;
	height: 100%;
	border-style: solid;
	border-width: 0 0 35px 10px;
	border-color: transparent transparent transparent #393939;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
.tag-list ul li a:hover {
	color: #100e17;
	background: #e4d804;
}
.tag-list ul li a:hover::before {
	border-color: transparent transparent #e4d804 transparent;
}
.tag-list ul li a:hover::after {
	border-color: transparent transparent transparent #e4d804;
}
.blog-details-wrap .blog-post-meta ul li + li::before {
    display: none;
}
.blog-details-wrap .blog-post-meta ul li + li {
    margin-left: 15px;
}
.blog-post-meta .blog-details-tags li > span {
    font-size: 12px;
    font-weight: 600;
}
.blog-post-meta .blog-details-tags li > i {
    margin-right: 5px;
}
.blog-details-top-meta {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 7px;
}
.blog-details-top-meta .user a {
    color: #d0d0d0;
}
.blog-details-top-meta span {
    position: relative;
}
.blog-details-top-meta span + span::before {
    content: "|";
    padding: 0 15px;
    color: #6a6a6a;
}
.blog-details-wrap .blog-post-content > p {
    margin-bottom: 15px;
}
.blog-details-wrap blockquote {
    margin: 35px 0 40px;
    background: #100e17;
    padding: 35px 50px 35px 40px;
}
.blog-details-wrap blockquote > i {
    float: left;
    font-size: 55px;
    color: #e4d804;
    margin-right: 30px;
    line-height: 1;
}
.blog-details-wrap blockquote p {
    margin-left: 85px;
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    color: #eeeeee;
    line-height: 1.6;
    margin-bottom: 18px;
}
.blog-details-wrap blockquote figure {
    margin-left: 85px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
    color: #a4a1a1;
}
.blog-details-wrap blockquote figure > span {
    position: relative;
    font-size: 16px;
    color: #e4d804;
    padding-right: 14px;
    margin-right: 14px;
}
.blog-details-wrap blockquote figure > span::before {
    content: "|";
    font-size: 14px;
    position: absolute;
    right: -4px;
    top: 50%;
    transform: translateY(-50%);
    color: #a4a1a1;
}
.blog-img-wrap > .row {
    margin-left: -10px;
    margin-right: -10px;
}
.blog-img-wrap > .row [class*="col-"] {
    padding-left: 10px;
    padding-right: 10px;
}
.blog-img-wrap {
    margin-bottom: 12px;
}
.blog-img-wrap img {
    max-width: 100%;
    margin-bottom: 20px;
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.19);
}
.blog-post-meta .blog-post-share a,
.post-avatar-content ul li a {
	display: inline-block;
	height: 30px;
	width: 30px;
	line-height: 30px;
	background: #385594;
	text-align: center;
	font-size: 12px;
	border-radius: 50%;
	color: #fff;
	margin-left: 10px;
}
.blog-post-meta .blog-post-share a:nth-child(2),
.post-avatar-content ul li:nth-child(2) a {
	background: #4eabee;
}
.blog-post-meta .blog-post-share a:last-child,
.post-avatar-content ul li:last-child a {
	background: #cb2027;
}
.blog-post-meta .blog-post-share a:first-child,
.post-avatar-social a:first-child {
    margin-left: 0;
}
.avatar-post {
    background: #1f1e24;
    padding: 40px 60px 40px 40px;
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.46);
}
.post-avatar-img {
    margin-right: 30px;
    width: 130px;
    flex: 0 0 130px;
}
.post-avatar-img img {
    max-width: 100%;
    border-radius: 50%;
}
.post-avatar-content h5 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600;
}
.post-avatar-content ul {
    display: flex;
    align-items: center;
}
.post-avatar-content ul li + li {
    margin-left: 10px;
}
.post-avatar-content ul li a {
    margin: 0;
}
.post-avatar-content p {
    color: #bcbcbc;
    font-weight: 500;
    margin-bottom: 15px;
}
.blog-comment ul li {
    display: block;
    padding: 30px;
    overflow: hidden;
    background: #1f1e24;
    margin-bottom: 20px;
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.46);
}
.blog-comment ul li .single-comment {
	display: flex;
	align-items: center;
}
.comment-avatar-img {
    margin-right: 25px;
    width: 131px;
    flex: 0 0 131px;
}
.comment-avatar-img img {
    border-radius: 50%;
    max-width: 100%;
}
.comment-avatar-info {
    overflow: hidden;
    margin-bottom: 15px;
}
.comment-avatar-info h5 {
    font-size: 18px;
    margin-bottom: 0;
    display: inline-block;
    font-weight: 600;
}
.comment-avatar-info h5 span {
    font-size: 12px;
    color: #d0d0d0;
    margin-left: 10px;
    font-weight: 500;
}
.comment-reply-link {
    float: right;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
}
.comment-reply-link i {
    margin-left: 7px;
    color: #e4d804;
}
.comment-text p {
    margin-bottom: 0;
    padding-right: 35px;
    color: #bcbcbc;
}
.blog-comment ul li.comment-reply {
	margin-left: 60px;
}
.blog-comment ul li:last-child {
	margin-bottom: 0;
}
.comment-reply-link:hover {
    color: #e4d804;
}
