.banner_movie {
  background-image: url("/public/images/tr_movies_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.tr-movie-active {
    margin-top: 50px;
}

/* 7. Up-coming */
.ucm-bg {
  padding: 120px 0 70px;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.ucm-bg::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #100e17;
  opacity: 0.95;
}
.ucm-bg-shape {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.section-title .sub-title {
  display: block;
  line-height: 1;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  margin-bottom: 12px;
  letter-spacing: 1px;
}
.section-title .title {
  margin-bottom: 0;
  font-size: 36px;
}
.ucm-nav-wrap .nav-tabs {
  border: none;
}
.ucm-nav-wrap .nav-tabs .nav-link,
.movie-bg .tr-movie-menu-active button,
.movie-filter-form select {
  border-radius: 50px;
  background: #20212b;
  font-size: 12px;
  font-weight: 600;
  color: #e3dfdf;
  border: 2px solid #2d303d;
  padding: 11px 27px;
  margin-bottom: 0;
  transition: none !important;
}
.ucm-nav-wrap .nav-tabs li {
  margin-right: 12px;
  margin-top: 12px;
}
.ucm-nav-wrap .nav-tabs li:last-child {
  margin-right: 0;
}
.ucm-nav-wrap .nav-tabs .nav-link.active,
.movie-bg .tr-movie-menu-active button.active {
  color: #fff;
  border-color: #e4d804;
}
.ucm-nav-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-right: 102px;
}
.movie-bg .tr-movie-menu-active {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 0;
}
.movie-bg .tr-movie-menu-active button {
  box-shadow: none;
  margin: 10px 5px 0;
  text-transform: capitalize;
}
.movie-bg .tr-movie-menu-active button::before,
.movie-bg .tr-movie-menu-active button::after {
  display: none;
}
.movie-bg .tr-movie-menu-active button.active {
  text-shadow: none;
}
.movie-page-meta {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.movie-filter-form {
  margin: 10px 0 0px 5px;
}
.movie-filter-form select {
  padding: 11px 35px 11px 25px;
  outline: none;
  min-height: 44px;
  box-shadow: none;
  background: #20212b url(../img/images/nw_selarw.png) no-repeat scroll 97.5%
    center;
}
.custom-select:focus {
  border-color: #2d303d;
  box-shadow: none;
}
.movie-poster img {
  max-width: 100%;
  border-radius: 5px;
}
.movie-poster {
  margin-bottom: 23px;
  position: relative;
}
.movie-content .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.movie-content .top .title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
  flex-grow: 1;
}
.movie-content .top .date {
  font-size: 14px;
  font-weight: 500;
  margin-left: 50px;
}
.movie-content .bottom ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.movie-content .bottom ul li .quality {
  border: 2px solid #fff;
  padding: 5px 10px;
  line-height: 1;
  font-weight: 700;
  font-size: 11px;
  text-transform: uppercase;
}
.movie-content .bottom ul li {
  display: flex;
  align-items: center;
}
.movie-content .bottom ul li .rating {
  margin-left: 15px;
}
.movie-content .bottom ul li > span {
  color: #bcbcbc;
  font-size: 12px;
}
.movie-content .bottom ul li > span i {
  margin-right: 5px;
}
.movie-content {
  padding-right: 10px;
}
.ucm-active .owl-nav,
.ucm-active-two .owl-nav {
  position: absolute;
  top: -99px;
  right: 0;
  background: #20212b;
  border: 2px solid #2d303d;
  color: #e3dfdf;
  padding: 9.5px 19px;
  border-radius: 50px;
}
.ucm-active.owl-carousel .owl-nav button.owl-prev,
.ucm-active-two.owl-carousel .owl-nav button.owl-prev {
  padding-right: 17px;
  margin-right: 13px;
  position: relative;
}
.ucm-active .owl-nav .owl-prev::before,
.ucm-active-two .owl-nav .owl-prev::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
  height: 26px;
  background: #292b37;
}
.ucm-active .owl-nav button,
.ucm-active-two .owl-nav button {
  position: relative;
  cursor: pointer;
  transition: 0.3s linear;
}
.ucm-bg2 {
  padding: 120px 0 90px;
  background-position: top center;
  background-size: cover;
}
.title-style-three {
  position: relative;
  padding-bottom: 20px;
}
.title-style-three::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(../img/images/title_shape.png);
  width: 98px;
  height: 7px;
}
.title-style-three .sub-title {
  font-weight: 700;
  color: #bcbcbc;
}
.movie-item-two {
  text-align: center;
  background: #1f1e24;
  padding: 15px 15px 25px;
}
.movie-item-two .movie-content {
  padding: 0;
}
.movie-item-two .movie-content > .rating {
  font-size: 10px;
  letter-spacing: -0.5px;
  color: #e4d804;
  margin-bottom: 10px;
}
.movie-item-two .movie-content .title {
  font-size: 16px;
  font-weight: 600;
  color: #d5d5d5;
  margin-bottom: 12px;
}
.movie-item-two .movie-content .rel {
  display: block;
  font-size: 12px;
  color: #9d9b9b;
}
.movie-content-bottom ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  margin-top: 25px;
  position: relative;
}
.movie-content-bottom ul::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background: #000000;
}
.movie-content-bottom ul::after {
  content: "";
  position: absolute;
  left: 0;
  top: 1px;
  width: 100%;
  height: 1px;
  background: #27272f;
}
.movie-content-bottom ul li.tag {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-right: 30px;
}
.movie-content-bottom ul li.tag a {
  display: block;
  color: #4c5066;
  background: #02050a;
  font-size: 12px;
  font-weight: 700;
  padding: 7px 12px;
  line-height: 1;
  margin-right: 10px;
}
.movie-content-bottom ul li.tag a:last-child {
  margin-right: 0;
}
.movie-content-bottom ul li .like {
  font-size: 13px;
  color: #9d9b9b;
}
.movie-content-bottom ul li .like i {
  font-size: 12px;
  margin-right: 5px;
  color: #c77f01;
}
.movie-bg {
  background-position: top center;
  background-size: cover;
  padding: 120px 0 120px;
}

/* 9. Top-movies */
.tr-movie-bg {
  background-position: top center;
  background-size: cover;
  padding: 120px 0 60px;
}
.tr-movie-bg2 {
  background-position: top center;
  background-size: cover;
  padding: 120px 0 120px;
}
.tr-movie-menu-active {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}
.tr-movie-menu-active button {
  border: none;
  border-radius: 4px;
  box-shadow: inset 0px 3px 7px 0px rgba(0, 0, 0, 0.77);
  background: #0b1110;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  color: #cdcaca;
  padding: 17px 25px;
  position: relative;
  margin: 0 7.5px 15px;
}
.tr-movie-menu-active button::before,
.tr-movie-menu-active button::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 16px;
  transition: 0.3s linear;
  opacity: 0;
}
.tr-movie-menu-active button::after {
  left: auto;
  right: 0;
}
.tr-movie-menu-active button.active::before,
.tr-movie-menu-active button.active::after {
  opacity: 1;
}
.tr-movie-menu-active button.active {
  text-shadow: 0px 3px 24px rgba(228, 216, 4, 0.5);
}
.movie-item-row {
  justify-content: space-between;
}
.movie-item-row .custom-col- {
  -ms-flex: 0 0 19.2%;
  flex: 0 0 19.2%;
  max-width: 19.2%;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.movie-item-row .custom-col- .movie-item-two {
  margin-bottom: 45px;
}
.movie-item-row .movie-poster {
  position: relative;
}
.movie-item-row .movie-poster::before,
.movie-item-three .movie-poster::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #04050a;
  transition: 0.3s linear;
  opacity: 0;
}
.movie-item-three .movie-poster::before {
  background: #14141d;
  border: 1px solid #2d292a;
}
.movie-item-row .movie-poster .overlay-btn,
.movie-item-three .movie-poster .overlay-btn {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  z-index: 1;
}
.movie-item-row .movie-poster .overlay-btn li,
.movie-item-three .movie-poster .overlay-btn li {
  transition: 0.3s linear;
  opacity: 0;
}
.movie-item-row .movie-poster .overlay-btn li:first-child,
.movie-item-three .movie-poster .overlay-btn li:first-child {
  margin-bottom: 17px;
  transform: translateY(-10px);
}
.movie-item-row .movie-poster .overlay-btn li:last-child,
.movie-item-three .movie-poster .overlay-btn li:last-child {
  transform: translateY(10px);
}
.movie-item-row .movie-poster .overlay-btn li .btn {
  padding: 11px 18px;
  text-transform: capitalize;
  letter-spacing: 0;
  font-weight: 600;
  min-width: 110px;
}
.movie-item-row .movie-poster .overlay-btn li:first-child .btn,
.movie-item-three .movie-poster .overlay-btn li:nth-child(2) .btn {
  background: #e4d804;
  color: #151517;
}
.movie-item-row .movie-item-two:hover .movie-poster .overlay-btn li,
.movie-item-three:hover .movie-poster .overlay-btn li {
  opacity: 1;
  transform: translateY(0);
}
.movie-item-row .movie-item-two:hover .movie-poster::before {
  opacity: 0.82;
}
.movie-item-three:hover .movie-poster::before {
  opacity: 0.79;
}
.title-style-three.text-center {
  padding-bottom: 30px;
}
.title-style-three.text-center::before {
  right: 0;
  margin: 0 auto;
}
.title-style-three.text-lg-left::before {
  left: 0;
  right: auto;
  margin: 0 0;
}
.movie-item-three .movie-poster .overlay-btn li + li {
  margin-top: 17px;
}
.movie-item-three .movie-poster .overlay-btn li a {
  min-width: 140px;
  padding: 10px 34px;
  font-size: 12px;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 0;
}
.movie-item-three .movie-poster .overlay-btn li.rating {
  font-size: 12px;
  color: #e4d804;
}

/* 10. Gallery */
.gallery-area.position-relative {
  z-index: 1;
  padding: 120px 0 0;
  margin-bottom: -150px;
}
.gallery-bg {
  background-image: url(../img/bg/gallery_bg.jpg);
  background-position: top center;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 714px;
  z-index: -1;
}
.gallery-item img {
  max-width: 100%;
  display: inline-block;
}
.gallery-item {
  text-align: center;
  max-width: 1080px;
  margin: 0 auto;
}
.gallery-active .slick-active.slick-center {
  margin-top: 0;
}
.gallery-active .slick-slide {
  margin-top: 80px;
  transition: 0.4s linear;
}
.gallery-area .slider-nav {
  max-width: 1080px;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slider-nav > span {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  color: #bebebe;
  cursor: pointer;
  transition: 0.3s linear;
}
.slider-nav > span.slick-next i {
  margin-left: 5px;
}
.slider-nav > span.slick-prev i {
  margin-right: 5px;
}
.slider-nav > span:hover {
  color: #e4d804;
}

/* 11. Pagination */
.pagination-wrap ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.pagination-wrap ul li a {
  display: block;
  font-size: 14px;
  color: #c2c2c2;
  font-weight: 600;
  padding: 10px 20px;
  border: 1.5px solid #c2c2c2;
}
.pagination-wrap ul li.active a,
.pagination-wrap ul li a:hover {
  color: #171d22;
  border-color: #e4d804;
  background: #e4d804;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  width: 80%;
  max-width: 700px;
  text-align: center;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.close-modal:hover {
  color: red;
}
